{% extends 'base_layout.html' %}
{% load static %}


{% block meta %}
<link rel="stylesheet" href="{% static 'styles/product.css' %}">
{% endblock %}


{% block page_content %}
    <article class="product">
        <h3>{{product.name}}</h3>
        {% if product.category is not None %}
        <img src="{{product.category.image.url}}" height="200 px">
        <p>Категория {{ product.category }}</p>
        {% endif %}
        <p>дата выпуска {{product.release_date}}</p>
        <p>Вес: {{ product.weight }}</p>
        <p>Сделано для: {{ product.animal }}</p>
        <p> 
            {% if product.price == "0" %}
                Бесплатно
            {% else %}
                {{ product.price }}
            {% endif %}
        </p>
        <a href='{% url "make_order" id=product.id %}' class="product-link">Купить!</a>
    </article>
{% endblock %}